<% provide(:title, 'About Us') %>
<div id = "row">
	<div class="about_banner">
		<h2 id = "about_banner_lhub">LAZY HUB</h2>
		<h2 id = "about_banner_desc">The portal to all your entertainment needs</h2>
	</div>
	<div class="forms">
		<h4 class = "center" id = "motto">Lazy Hub's mission is to provide you with the best customized portal for your entertainment needs. </h4>
	</div>
	<div class="about_us_box silver">
	<p>Welcome to Lazy Hub, the entertainment system for the web. We provide you with all of the entertainment that you need, for free! Think of us as your entertainment hub, where you can read, game or socialize whenever YOU want! Whether you just want to laugh a little, get some updates on world news, or just play some games, we have everything you would want. Meet some friends, by commenting on posts and creating your own posts. Feel free to share your knowledge and have some fun!</p>
	</div>
	<div class = "center">
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary", id: "about_signup" %>
	</div>
</div>