<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p class = "lead">Welcome to Lazy Hub, the entertainment system for the web. We provide you with all of the entertainment that you need, for free! Think of us as your entertainment hub, where you can read, game or socialize whenever YOU want! Whether you just want to laugh a little, get some updates on world news, or just game all day, we have it all to have fun in the web. You can easily make friends here and inform them, by posting your own links to articles and games. Enjoy having fun :)!</p>