<% provide(:title, 'About Us') %>
<div id = "about_banner"><%= link_to fetch_image_tag("http://res.cloudinary.com/www-lazyhub-com/image/upload/v1424513625/lazyhub_aboutus_dytgyo.jpg") %>
</div>
<h4 class = "center" id = "motto">Lazy Hub's mission is to provide you with the best customized portal for your entertainment needs. </h4>
<div class = "center">
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary", id: "about_signup" %>
</div>
<!-- <p class = "lead">Welcome to Lazy Hub, the entertainment system for the web. We provide you with all of the entertainment that you need, for free! Think of us as your entertainment hub, where you can read, game or socialize whenever YOU want! Whether you just want to laugh a little, get some updates on world news, or just game all day, we have it all to have fun in the web. You can easily make friends here and inform them, by posting your own links to articles and games. Enjoy having fun :)!</p> -->