<% provide(:title, 'the entertainment system for the web') %>
<div class="center hero-unit" id= "hero-unit">
  <h1>Lazy Hub: the entertainment system for the web</h1>
  <%= render 'layouts/content' %>
</div>