<% provide(:title, 'the entertainment system for the web') %>
<div class="center hero-unit">
  <h1>Welcome to Lazy Hub!</h1>

  <h2>
    An entertainment system for the web. I am currently under construction, but will be completed on 4/20/14. I am eager to meet you, check back soon!
  </h2>

  <%= link_to "Sign up coming soon!", '#', class: "btn btn-large btn-primary" %>
</div>
