@import "bootstrap";

html 
{
  overflow-y: scroll;
}

body 
{
  padding-top: 47px;
}

.container
{
  width: 1100px;
}

section 
{
  overflow: auto;
}

textarea 
{
  resize: vertical;
}

.center 
{
  text-align: center;
}

.center h1 
{
  font-size: 1.0em;
  margin-bottom: 20px;
  margin-top: -35px;
}

/* typography */

h1, h2, h3, h4, h5, h6 
{
  line-height: 1;
}

h1 
{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 
{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p 
{
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 55px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer 
{
  margin-top: 125px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer small
{
  text-align: center;
}

footer a 
{
  color: #555;
}

footer nav
{
  float: right;
  margin-top: -52px;
}

footer a:hover 
{
  color: #222;
}

footer ul 
{
  float: right;
  list-style: none;
}

footer ul li 
{
  float: left;
  margin-left: 10px;
}

@mixin box_sizing 
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump 
{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside 
{
  section 
  {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child 
    {
      border: 0;
      padding-top: 0;
    }
    span 
    {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 
    {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar 
{
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input 
{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input 
{
  height: auto !important;
}

#error_explanation 
{
  color: #f00;
  ul 
  {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors 
{
  @extend .control-group;
  @extend .error;
}

/* Content helper */
table
{
  border: 6px solid black;
  text-decoration: none;
  width: 1100px;
}
td
{
  border: 6px solid black;
  padding: 2px;
  text-decoration: none;
}
thead
{
  line-height: 15px;
  background-color: black;
  tr th
  {
    padding: 9px;
    font-size: 0.6em;
    color: #ffffff
  }
}
.content_column
{
  font-size: 1em;
  height: 20px;
  width: 650px;
  cursor: pointer;
  font-weight: bold;
}
.content_column:hover
{
  text-decoration: none;
  background-color: #c1f787;
}
.article_type:hover
{
  text-decoration: none;
}
.edit
{
  text-decoration: none;
  background-color: yellow;
}
.delete
{
  text-decoration: none;
  background-color: red;
}
.points
{
  font-size: 1.5em;
  font-weight: bold;
}
.views
{
  font-size: 1.5em;
  font-weight: bold;
}

.helper
{
  background-color: black;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.home_gravatar
{
  display: relative;
  top:4px;
}

/* social media */

.twitter-follow-button
{
  margin-bottom: 1px;
  margin-left: 115px;
}

#motto
{
  padding-top: 30px;
}

#about_signup
{
  margin-top: 20px;
  margin-bottom: -70px;
}
